.emptyPage {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.emptyPage a {
  margin: 20px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.emptyPage h1 {
  color: rgb(162 176 130);
}

.icon {
  margin-right: 15px;
}

.emptyPage a:hover {
  opacity: 0.6;
}

.page {
  padding-inline: 80px;
  display: flex;
  flex-direction: column;
}

.page h1 {
  text-align: center;
  color: rgb(162 176 130);
}

.total {
  font-size: 22px;
  font-weight: 700;
  align-self: flex-end;
  background-color: rgb(225, 223, 217);
  padding: 20px;
  border-radius: 20px;
}

.page button {
  border: none;
  border-radius: 15px;
  padding: 10px 20px;
  cursor: pointer;
  background-color: rgb(162, 176, 130);
  color: white;
  font-size: 18px;
  text-align: center;
  align-self: center;
  margin-block: 25px;
}

.page button:hover {
  opacity: 0.6;
}

@media (max-width: 700px) {
  .page {
    padding-inline: 5px;
  }
}

@media (max-width: 425px) {
  .total {
    font-size: 18px;
    font-weight: 700;
    align-self: flex-end;
    background-color: rgb(225, 223, 217);
    padding: 10px;
    text-align: center;
    border-radius: 20px;
    margin-block: 10px;
  }
}